@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: none;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imagenes/bj.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  max-height: 80;
  height: 80;
  min-height: 80vh;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #ffdfcf;
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #ffdfcf;
  display: block;
  font-weight: 600;
  text-decoration: none;
}

.menu .navbar ul li a:hover {
  color: #ce967b;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font: 80px;
  line-height: 80px;
  color: #f9fafc;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.header-content p {
  font-size: 16px;
  color: #c5c5c5;
  padding: 0 250px;
  margin-bottom: 25px;
}

.btn-1 {
  display: inline-block;
  padding: 11px 35px;
  background-color: #ce967b;
  color: #f9fafc;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  max-width: 180px;
}

.btn-1:hover {
  background-color: #d18f52;
}

.coffee {
  padding: 100px 0;
  background-color: #e1e2e6;
  position: relative;
}

.coffee-content {
  text-align: center;
}

.txt-p {
  z-index: 1000;
}

.coffee-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  padding: 0 250px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.text-p {
  font-size: 16px;
  color: #414247;
  padding: 0 250px;
  margin-bottom: 35px;
}

.coffee-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.coffee-1 img {
  width: 300px;
}

.coffee-img {
  position: absolute;
  top: 18cm;
  right: -200px;
}

.coffee-1 h3 {
  color: #323337;
  font-size: 20px;
  margin-bottom: 15px;
}

.services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(imagenes/bj2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 70vh;
}

.services-content {
  text-align: center;
}

.services-content h2 {
  font-size: 55px;
  line-height: 70px;
  color: #f9fafc;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.services-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.services-content-1 {
  max-width: 40%;
  align-self: center;
  text-align: center;
  font-size: 16px;
  color: #c5c5c5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.services-content-1 p {
  color: #c5c5c5;
}

.service-description {
  text-align: center !important;
  width: 100%;
  min-width: 100%;
  color: #ce967b;
}

.service-img {
  height: 120px;
  margin-bottom: 15px;
}

.general {
  display: flex;
  height: 600px;
}

.general-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 10px 20px 10px 10px;
  background-color: #e1e2e6;
  height: 600px;
}

.general-2 {
  background-image: url(imagenes/cafeoro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 600px;
}

.general-3 {
  background-image: url(imagenes/cafeoro1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: inherit;
  width: 50%;
  height: 100%;
}

h2 {
  font-size: 55px;
  line-height: 70px;
  color: #323337;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #414247;
  margin: 25px 0 45px 0;
}

.blog {
  padding: 100px 0;
  text-align: center;
}

.blog-content {
  display: flex;
  justify-content: space-between;
}

.blog-1 {
  padding: 15px 55px;
}

.blog-1 img {
  width: 250px;
  height: 400px;
  margin-bottom: 15px;
}

.blog-1 h3 {
  font-size: 25px;
  color: #323337;
}

.footer {
  padding: 100px o;
  background-color: #000000;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.link h3 {
  font-size: 18px;
  color: #f9fafc;
  margin-bottom: 15px;
}

.link a {
  font-size: 16px;
  color: #c5c5c5;
  display: block;
  margin-bottom: 15px;
}

.menu.container {
  padding: 30px;
}

@media (min-width: 991px) {
  .logo {
    display: initial;
  }

  .menu-logo {
    display: none;
  }

  .navbar {
    display: initial;
  }
}

@media (max-width: 991px) {

  .menu.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: #000000;
    opacity: 0.9;
    height: fit-content;
  }
  

  .logo {
    display: none;
  }

  .navbar {
    display: none;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul li {
    width: 100%;
    text-align: left;
  }

  .menu-logo {
    display: flex;
    cursor: pointer;
  }

  /* Show the menu when the class 'show' is added */
  .navbar.show {
    display: block;
  }

  .header {
    min-height: 0vh;
  }

  .header-content {
    padding: 100px 30px;
  }

  .header-content p {
    padding: 0;
  }

  .coffee {
    padding: 30px;
  }

  .coffee-content h2 {
    padding: 0;
  }

  .txt-p {
    padding: 0;
  }

  .coffee-group {
    flex-direction: column;
    margin-bottom: 0;
  }

  .coffee-img {
    display: none;
  }

  .services {
    padding: 30px;
    height: min-content;
  }

  .services-content p {
    padding: 0;
  }

  .services-group {
    flex-direction: column;
    margin-bottom: 0;
  }

  .general {
    flex-direction: column;
  }

  .general-1 {
    width: 100%;
    padding: 30px;
    text-align: center;
  }

  .general-2,
  .general-3 {
    display: none;
  }

  .blog {
    padding: 30px;
  }

  .blog-content {
    flex-direction: column;
  }

  .blog-1 {
    padding: 0;
  }

  .footer {
    padding: 30px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
